.clock{
    background: white;
    color: black;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 5px;
}

header {
    font-family: serif;
    background: white;
    margin-bottom: 3%; /* Отступ снизу */
    font-size: 30px; /* Размер шрифта */
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

body {

    background: url('images/52.jpg') fixed;
    background-size: contain;
    margin: 0;
    font-family: Calibri, serif;


}

.clock{
    font-size: 20px;
    margin-bottom: 1%;


}

.main {
    background-color: white;
    border-radius: 10px;
    border-color: white;
    font-size: 17px;
    margin-bottom: 0.5%;
}

